.btn {
    font-family: ALSScriptus, sans-serif !important;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 30px;
    background: url("../../assets/btn.png") no-repeat;
    background-size: 100% 100%;
    width: 90%;
    height: 58px;

    display: grid;
    place-items: center;
    font-size: 32px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn.cloud {
    width: 248px;
    height: 65px;
    font-size: 20px;
    background: url("../../assets/cloud/cloud.png") no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin-bottom: 5px;
}
.btn.unselected_answer {
    font-size: 20px;
    background: none;
    width: 248px;
    height: 65px;
    color: #9A2D26;
    margin-bottom: 5px;
}
.btn.correct{
    color: white;
    background: url("../../assets/cloud/cloud_blue.png") no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.btn.incorrect{
    color: white;
    background: url("../../assets/cloud/cloud_grey.png") no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.btn:hover {

}

.button-wrapper {
    position: relative;
}
.avatars-wrapper {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: -20%;
    z-index: 1;
}
.size-med, .size-small {
    display: none;
}
@media (max-height: 800px) {
    .size-big {display: none}
    .size-med {display: block}
}
@media (max-height: 600px) {
    .btn.cloud, .btn.unselected_answer {
        height: 8vh;
        width: 220px;
    }
    .size-big {display: none}
    .size-med {display: none}
    .size-small {display: block}
}
@media (max-width: 375px) {
    .btn.cloud {
        height: 55px;
    }
    .btn.unselected_answer {
        height: 55px;
    }
}
