.modal {
    margin: 5% auto;
    width: 90%;
    height: 90%;
    background-color: #fff;
    border-radius: 30px;
}
.modal h1{
    font-weight: 400;
    font-size: 32px;
    line-height: 49px;
    text-align: center;
    margin-top: 40px;
}
.modal .users-list{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: calc(50% - 20px) calc(50% - 20px);
    gap: 40px;
    height: calc(100% - 250px);
}
.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.user .user-name {
    font-size: 32px;
    line-height: 51px;
    color: #444E3F;
}
.user .beer{
    position: absolute;
    bottom: -10%;
    height: 50%;
}
.user .animal-img{
    height: 80%;
    max-height: 170px;
    max-width: 100%;
}
.continue-button{
    text-transform: uppercase;
    color: #00FFA3;
    width: 90% !important;
    max-width: 400px;
   margin: 0 auto;
}
@media (max-height: 800px) {
    .modal .users-list{
        height: calc(100% - 150px);
    }
    .modal h1{
        margin-top: 20px !important;
    }
}
@media (max-height: 600px) {
    .modal h1{
        margin-top: 0 !important;
    }
}
