.profile {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    padding: 35px 27px;
    border-radius: 30px;
    background: white;
    box-sizing: border-box;
    width: 90%;
    height: 90%;
}
.profile .title{
    width: 100%;
    text-align: center;
    position: relative;
}

.profile .title {
    width: 100%;
    text-align: center;
    position: relative;
    font-size: 32px;
    line-height: 38px;
    color: #252525;
    font-weight: bold;
}
.profile .title img {
    position: absolute;
    left: 0;
    top: 65%;
    transform: translateY(-50%);
}
.add-question-button {
    position: fixed;
    bottom: 20px;
    right: 8px;
}
.profile-title-img{
    position: fixed;
    left: 0;
    top: 175px;
}
.profile .title-questions {
    font-size: 32px;
    line-height: 38px;
    text-align: right;
    color: #252525;
    margin: 36px 0;
    font-weight: 700;
}
.profile .user-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profile .user-block .user-name {
    margin: 0;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #00C4FF;
    font-weight: bolder;
}
.profile .questions-list{
    margin-top: 28px;
    overflow: auto;
    max-height: calc(100% - 280px);
}

.profile .questions-list::-webkit-scrollbar {
    width: 4px;
}

.profile .questions-list::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 20px;
    border: 3px solid rgba(0, 0, 0, 0.25);
}
.profile .questions-list .list-item {
    width: 100%;
    max-width: 400px;
    height: 52px;
    margin: 0 auto 18px;
    background-image: url("../../assets/btn.png");
    background-size: 100% 100%;
    font-size: 24px;
    line-height: 52px;
    color: #6966F8;
    padding: 0 18px;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bolder;
}
.profile .empty-list {
    margin-top: 28px;
    height: calc(100% - 180px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.profile .empty-list .empty-img{
    height: 170px;
}
.profile .empty-list p{
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: -0.01em;
    font-weight: bolder;
    color: #252525;
}
.profile .empty-list .empty-add{
    width: 70px;
    height: 76px;
}


.profile .edit-button{
    width: 176px;
    height: 52px;
    background-image: url("./assets/editBg.png");
    background-size: 100% 100%;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    font-weight: bolder;
}
.profile .details-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 100px);
}
.profile .details-title {
    font-size: 32px;
    text-align: center;
    font-weight: bolder;
    color: #6966F8;
    margin: 25px 0;
    word-wrap: break-word;
    overflow: auto;
}
.profile .details-block li {
    font-size: 32px;
    line-height: 38px;
    font-weight: bolder;
    color: #9A2D26;
    padding-inline-start: 20px;
    padding: 10px;
}
.profile .details-block li::marker {
    font-size: 12px;

}

.profile .details-buttons-block{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profile .edit-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 100px);
}

.profile .edit-title-wrapper {
    background-image: url("./assets/questionTitleBg.png") ;
    width: 100%;
    height: 96px;
    background-size: 100% 100%;
    padding: 11px 18px 11px 14px;
    box-sizing: border-box;
}
.profile .edit-title-wrapper textarea {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 24px;
    line-height: 28px;
    color: #6966F8;
}
.profile .edit-answer-wrapper {
    background-image: url("./assets/questionAnswerBg.png") ;
    width: 100%;
    height: 55px;
    background-size: 100% 100%;
    padding: 6px 13px;
    box-sizing: border-box;
}
.profile .edit-answer-wrapper input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 24px;
    line-height: 44px;
    color: #9A2D26;
}
.profile .done-button {
    width: 100%;
    height: 54px;
    background-image: url("./assets/doneBg.png");
    background-size: 100% 100%;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    font-weight: bolder;
    color: #0B997B;
}

.confirm-delete{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.confirm-delete .modal{
    padding: 0;
    margin: 0;
    border-radius: 30px;
    background-color: #fff;
    width: 340px;
    height: 395px;
    position: relative;
}
.confirm-delete .modal .close{
    position: absolute;
    top: 33px;
    right: 25px;
}
.confirm-delete .modal .sad-dog{
    position: absolute;
    top: 16px;
    left: 17px;
}
.confirm-delete .modal p{
    position: absolute;
    bottom: 126px ;
    left: 27px;
    width: 283px;
    text-align: center;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.01em;
    color: #252525;
    font-weight: bolder;
}
.confirm-delete .modal .delete-button{
    position: absolute;
    bottom: 42px;
    left: 27px;
    height: 54px;
    width: 287px;
    background-image: url("./assets/doneBg.png");
    background-size: 100% 100%;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    font-weight: bolder;
    color: #F84E93;
}

.confirm-logout {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-logout .modal {
    padding: 0;
    margin: 0;
    border-radius: 30px;
    background-color: #fff;
    width: 340px;
    height: 361px;
    position: relative;
}

.confirm-logout .modal .cup-img {
    position: absolute;
    top: 24px;
    left: 14px;
}
.confirm-logout .modal p {
    margin: 55px auto 25px;
    width: 294px;
    text-align: center;
    font-size: 32px;
    line-height: 51px;
    letter-spacing: -0.01em;
    color: #252525;
    font-weight: bolder;
}

.confirm-logout .modal .logout-no, .confirm-logout .modal .logout-yes {
    background-image: url("./assets/doneBg.png");
    background-size: 100% 100%;
    font-weight: 700;
    font-size: 32px;
    line-height: 51px;
    text-align: center;
    width: 287px;
    height: 60px;
    margin: 0 auto 24px;
}

.confirm-logout .modal .logout-yes {
    color: #0B997B;
}
.confirm-logout .modal .logout-no {
    color: #6966F8;
}

.freezeScreen{
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

@media (max-height: 700px) {
    .profile {
        padding: 10px 27px;
    }
    .profile .details-title {
        margin: 0;
    }

    .profile .empty-list {
        margin-top: 12px;
    }
    .profile .empty-list .empty-img{
        height: 140px;
    }
    .profile .empty-list p{
        font-size: 24px;
        line-height: 28px;
        margin: 0;
    }
    .profile-title-img{
        top: 150px;
    }
}
@media (max-width: 360px) {
    .confirm-logout .modal {
        width: 300px;
    }
    .confirm-logout .modal .logout-no, .confirm-logout .modal .logout-yes {
        width: 247px;
    }
}
