.login-required{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 25;
}
.login-required .modal{
    background-color: #fff;
    width: 340px;
    height: 280px;
    position: relative;
    margin: 0;
    padding: 0;
}
.login-required .modal img{
    position: absolute;
    top: -20px;
    left: -20px
}
.login-required .modal  h1{
    position: absolute;
    top: 100px;
    left: 150px;
    font-size: 64px;
    line-height: 75px;
    color: #F84E93;
    font-weight: bolder;
    margin: 0;
}
.login-required .modal p{
    position: absolute;
    bottom: 42px;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 32px;
    line-height: 32px;
    color: #333333;
    font-weight: 500;
}

