.container{
    box-sizing: border-box;
    width: 90%;
    position: relative;
    padding: 16px 20px 70px;
    height: 200px;
    max-width: 600px;
    background: white;
    border-radius: 30px;
    align-self: flex-start;
    margin-top: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.players_list_avatars{
    display: flex;
    overflow: auto hidden;
    max-width: 300px;
    scrollbar-width: thin;
    /*flex-wrap: wrap;*/
    gap: 10px;
}

.players_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.players_list_avatars .current{
    animation: 0.9s ease-in-out pulse infinite;
}

.players_list h1, .question h1, .answers h1{
    color: #FF0000;
    margin: 5px 0px;
    font-size: 24px;
}

.question h1, .answers h1{
    text-align: center;
}

.question{
    font-size: 24px;
    width: 100%;
    position: relative;
    height: 100%;
    padding-left: 30%;
    box-sizing: border-box;
}

.gameRunningScreen{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.question .content{
    overflow: hidden auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    scrollbar-width: thin;
    font-size: 18px;
    height: 100%;
}
.question .questionOwner{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 6vh;
}
.answers{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answers .content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-direction: column;

    width: 80%;
    max-width: 250px;
}

.waiting{
    text-align: center;
}

.result_buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}
.result_buttons_v2{
    flex-direction: row-reverse;
}

.result_buttons_v2 .btn{
    border-radius: 15px;
}

.drink_button{
    text-transform: uppercase;
    color: #00FFA3;
    width: 90% !important;
    max-width: 400px;
    background-color: #fff !important;
}


.results{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.round{
    font-size: 24px;
    color: red;
    font-weight: bold;
    text-align: center;
}

.timer{
    font-size: 96px;
    line-height: 112px;
    font-weight: 700;
    color: #34495E;
    text-align: center;
}
.timer_subtitle {
    color: #FF0000;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 10px;
}

.background_layer{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.answer_bg {
    position: fixed;
    left: 0;
    width: 100%;
    top: 150px;
    height: 100%;
}

.answers_block{
    position: fixed;
    top: 200px;
    width: 100%;
    left: 0;
    height: calc(100% - 200px);
}

.control_buttons{
    width: 360px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 0;
    padding-left: 15px;
    box-sizing: border-box;
}
.skip_buttons {
    width: 130px !important;
    background: url("../../assets/btn_small.png") no-repeat !important;
    color: #17A085;
    position: relative;
    padding-left: 20px;
    box-sizing: border-box;
}
.beer_icon{
    position: absolute;
    left: -15px;
    bottom: 0;
}
.submit_buttons{
    width: 130px !important;
    background: url("../../assets/btn_small.png") no-repeat !important;
    color: #D2B100;
}

@keyframes pulse {
    0% {
        box-shadow: 0px 0px 1px 1px #cccccc;
    }
    100% {
        box-shadow: 0px 0px 8px 5px #cccccc;
    }
}

@media (max-height: 800px) {
    .container{
        padding: 16px 20px 100px;
    }
    .answer_bg{
        top: 120px
    }
    .answers_block{
        top: 150px;
        height: calc(100% - 150px);
    }
    .timer {
        font-size: 70px;
        line-height: 60px;
    }
    .timer_subtitle {
        font-size: 20px;
        line-height: 40px;
    }
}
@media (max-height: 600px) {
    .container {
        padding: 10px 40px 100px 20px;
        margin-top: 2%;
    }
    .question {
        font-size: 18px;
    }
    .container{
        padding-bottom: 100px;
    }
    .answer_bg{
        top: 90px
    }
    .answers_block{
        top: 110px;
        height: calc(100% - 100px);
    }
    .result_buttons{
        /*flex-direction: row-reverse;*/
    }
    .result_buttons .btn{
        border-radius: 15px !important;
    }
}

@media (max-width: 374px) {
    .control_buttons{
        width: 315px;
    }
    .control_buttons .skip_buttons, .control_buttons .submit_buttons, .control_buttons .report_button{
        height: 50px;
        background-size: 100% 100% !important;
        line-height: 40px;
    }
}
