.install_modal{
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    background: rgba(0,0,0,.5);
}

.install_modal .install_container{
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    max-width: 360px;
    margin: 0 auto;
}

.install_modal .button{
    font-size: 24px;
    background-color: #0B997B;
    width: 40%;
    height: auto;
    margin: 0;
}

.install_modal img{
    height: auto;
    width: 20px;
}

.install_modal .closeIcon{
    position: fixed;
    right: 3px;
    top: 3px;
    /*filter: invert(1);*/
}

.content{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.offline_page{
    text-align: center;

    font-size: 24px;
    font-weight: bold;

    display: grid;
    place-items: center;
    height: 100%;
}

.offline_page .offline_container{
    border-radius: 15px;
    padding: 5%;
    background: rgba(255, 255, 255);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 20px;
    gap: 15px;
}

.offline_container .retry_button{
    font-size: 24px;
    color: #6966F8;
}

.offline_container .retry_button:hover, .offline_container .retry_button:focus{
    background-color: #6966F8;
    color: white;
}

@media (max-width: 400px) {
    .title {
        font-size: 22px;
    }
    .install_modal .button{
        width: 100px;
        border-radius: 15px;
    }
}
