* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: ALSScriptus;
  src: url('./fonts/ALSScripticus.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Quicksand;
  src: url('./fonts/ALSScripticus-Bold.ttf');
  font-weight: 800;
}

html{
  font-family: ALSScriptus, sans-serif !important;
  height: 100%;
}

body{
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: var(--app-height);

  background: url("./assets/back.png") no-repeat;
  background-size: cover;
}

#root{
  height: 100%;
  width: 100%;
}

:root {
  --app-height: 100%;
  --pink1: #F84E93;
  --pink2: #F08AA9;

  --green1: #00FFA3;
  --green2: #70FFC2;
}
