.container{
    box-sizing: border-box;
    width: 90%;
    height: 90%;
    position: relative;
    background: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    max-width: 600px;
}

.container, .buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.container img{
    max-width: clamp(150px, 100%, 400px);
    max-height: calc(100% - 250px);
}

.single{
    color: #0B997B;
}

.single:hover, .single:focus{
    background-color: #0B997B;
    color: white;
}

.multi{
    color: #6966F8;
}

.multi:hover, .multi:focus{
    background-color: #6966F8;
    color: white;
}

.undrestood{
    color: #F84E93;
    max-width: 400px;
}

.undrestood:hover, .undrestood:focus{
    background-color: #F84E93;
    color: white;
}

.help{
    color: #FFB6C2;
    text-decoration: underline;
    font-size: 32px;
    line-height: 18px;
    cursor: pointer;
}

.container button:hover, .container button:focus{
    background: #ececec;
}

.buttons{
    height: 200px;
    width: clamp(150px, 80%, 400px);
}

.modal{
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 48px 12px 23px;

    border-radius: 15px;
    background: white;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.modal .rules{
    font-size: 24px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal h1{
    color: #FF0000;
    margin: 0 auto;
}
.modal li {
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
}

.modal li::marker {
    font-size: 8px;
}
@media (max-height: 800px) and (max-width: 560px), (max-height: 600px) {
    .modal {
        padding-top: 24px;
    }
    .modal li {
        font-size: 22px;
        line-height: 28px;
    }
}

@media (max-height: 600px) and (max-width: 560px) {
    .modal {
        padding: 12px;
    }
    .modal h1 {
        font-size: 28px;
    }
    .modal li {
        font-size: 18px;
        line-height: 22px;
    }
    .container {
        box-sizing: border-box;
        width: 97%;
        height: 97%;
    }
}
